# Marks issues as stale.

name: stale issues

on:
  workflow_dispatch: {}
  schedule:
    - cron: "30 1 * * *"

permissions:
  contents: read

jobs:
  close-issues:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@002fdce3c6a235733a90a27c80493a3241e56863 # v2.12.1
        with:
          egress-policy: audit

      - uses: actions/stale@5bef64f19d7facfb25b37b414482c7164d639639 # v9.1.0
        with:
          days-before-stale: 21
          days-before-close: 7
          stale-issue-label: "S-stale"
          stale-pr-label: "S-stale"
          exempt-issue-labels: "M-prevent-stale"
          exempt-pr-labels: "M-prevent-stale"
          stale-issue-message: "This issue is stale because it has been open for 21 days with no activity."
          close-issue-message: "This issue was closed because it has been inactive for 7 days since being marked as stale."
          exempt-all-milestones: true
          exempt-all-assignees: true
          repo-token: ${{ secrets.GITHUB_TOKEN }}
